[submodule "deps/sokol-zig"]
	path = deps/sokol-zig
	url = https://github.com/floooh/sokol-zig.git
[submodule "deps/sokol-tools"]
	path = deps/sokol-tools
	url = https://github.com/floooh/sokol-tools-bin.git
